.Napoli {
    background-color: var(--napoli-color);
}
.Napoli .dropdown-menu .btn {
    background-color: var(--napoli-color);
    color: #ffffff;
}
.Napoli .form-check-input:checked {
    background-color: var(--napoli-color);
    border-color: var(--napoli-color);
}
.Napoli #generate {
    background-color: var(--napoli-color);
    color: #ffffff;
}

.Manchester-United {
    background-color: var(--manchester-color);
}
.Manchester-United .dropdown-menu .btn {
    background-color: var(--manchester-color);
    color: #ffffff;
}
.Manchester-United .form-check-input:checked {
    background-color: var(--manchester-color);
    border-color: var(--manchester-color);
}
.Manchester-United #generate {
    background-color: var(--manchester-color);
    color: #ffffff;
}

.Wolfsburg {
    background-color: var(--wolfsburg-color);
}
.Wolfsburg .dropdown-menu .btn {
    background-color: var(--wolfsburg-color);
    color: #ffffff;
}
.Wolfsburg .form-check-input:checked {
    background-color: var(--wolfsburg-color);
    border-color: var(--wolfsburg-color);
}
.Wolfsburg #generate {
    background-color: var(--wolfsburg-color);
    color: #ffffff;
}